body,
* {
  margin: 0;
  padding: 0;
}

/* disable horizontal scroll beyond the limit */
html, body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
}

.webgl:focus {
  outline: none;
}
